@import "tailwindcss";

@theme {
  --font-sans: "Tajawal", ui-sans-serif, system-ui, sans-serif;
  --font-cairo: "Cairo", sans-serif;
  --font-tajawal: "Tajawal", sans-serif;
  
  --color-surface: #fbf9f9;
  --color-surface-dim: #dbdad9;
  --color-surface-bright: #fbf9f9;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f5f3f3;
  --color-surface-container: #efeded;
  --color-surface-container-high: #e9e8e7;
  --color-surface-container-highest: #e3e2e2;
  --color-on-surface: #1b1c1c;
  --color-on-surface-variant: #444748;
  --color-inverse-surface: #303031;
  --color-inverse-on-surface: #f2f0f0;
  --color-outline: #747878;
  --color-outline-variant: #c4c7c7;
  --color-surface-tint: #5f5e5e;
  --color-brand-primary: #000000;
  --color-brand-on-primary: #ffffff;
  --color-brand-secondary: #735c00;
  --color-brand-on-secondary: #ffffff;
  --color-brand-secondary-container: #fed65b;
  --color-brand-on-secondary-container: #745c00;
  --color-brand-error: #ba1a1a;
  --color-brand-gold: #c5a85c;
  --color-brand-gold-dark: #a4863b;
}

@layer utilities {
  .material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }
  
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body {
  font-family: var(--font-tajawal), sans-serif;
  background-color: var(--color-surface);
  color: var(--color-on-surface);
}
